@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --main-green: #4ade80;
    --main-green-hover: #22c55e;
    --bg-dark: #111827;
    --bg-dark-second: #171f31;
    --bg-card: #1f2937;
    --text-primary: #f3f4f6;
    --text-secondary: #c0c4cc;
    --card-border: #374151;
    --hover-bg: #272f3d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 42px;
    height: 42px;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    color: var(--text-primary);
    overflow: hidden;
}

/* ------- header section ----------  */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 5px 30px;
    background-color: var(--bg-dark-second);
    border-bottom: 1px solid var(--card-border);
}

#header .title {
    font-weight: 800;
    font-size: 35px;
    color: var(--main-green-hover);
}

#header .header-btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

#header .new-post-btn {
    padding: 10px;
    border: 1px solid var(--main-green);
    color: var(--main-green);
    border-radius: 10px;
}

#header .notification {
    font-size: 30px;
}
/* -------- side bar ------- */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 93vh;
    padding: 5px 0;
    border-right: 1px var(--card-border) solid;
    background-color: var(--bg-dark-second);
}

.sidebar label {
    color: var(--main-green);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-left: 30px;
}

.navigation div {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 60px;
    line-height: 2;
}

.categories div {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 60px;
    line-height: 1.8;
}

.members-container {
    border: 1px solid var(--card-border);
    background-color: var(--bg-dark);
    border-radius: 15px;
    margin: 6px 15px;
    height: 380px;
}

.members-list {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--card-border) var(--bg-dark);
    height: 307px;
}

.members-container input {
    margin: 7px;
    padding: 10px;
    border: 1px solid var(--text-secondary);
    border-radius: 10px;
    background-color: var(--bg-dark-second);
    color: var(--text-primary);
    height: 40px;
    font-size: 15px;
    outline: none;
    width: calc(100% - 14px);
}

.member {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 15px;
}

/* -------- posts ------- */

.main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--card-border) var(--bg-dark);
}

.post {
    background-color: var(--bg-card);
    border: 1px solid var(--card-border);
    border-left: solid var(--main-green-hover);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
    width: 1000px;
}

.post .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.user-info .timestamp {
    font-size: 12px;
    font-weight: 300;
    color: var(--text-secondary);
}

.user-info .username {
    letter-spacing: 1px;
    font-weight: 600;
}

.post-content h3 {
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--main-green);
    cursor: pointer;
}

.post-content p {
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.tags-reactions {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags span {
    font-size: 12px;
    color: var(--text-secondary);
    background-color: var(--bg-dark-second);
    border: 1px solid var(--card-border);
    padding: 5px 10px;
    border-radius: 5px;
}

.reactions {
    font-size: 18px;
    color: var(--text-secondary);
}

.reactions span {
    margin-left: 10px;

}

.reactions i {
    font-size: 20px;
}